.code-container {
  background: gray;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-block {
  padding: 15px 25px;
  width: 1000px;
  height: 700px;
  background-color: #282c34;
  font-family: 'roboto';
}

.smiley-emoji {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scaleImage 3s ease-in-out;
}

@keyframes scaleImage {
  from {
    transform: translate(-50%, -50%) scale(0.3);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
